@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  all: unset;
}
html {
  font-size: 62.5%;
}
.css-t89xny-MuiDataGrid-columnHeaderTitle {
  color: #b5b7c0 !important;
  font-size: 1.3rem;
  font-weight: 500 !important;
  letter-spacing: 0.1rem;
}
.css-6h1dhi-MuiDataGrid-root .MuiDataGrid-row {
  font-size: 1.4rem;
  font-weight: 400 !important;
}

.css-6h1dhi-MuiDataGrid-root {
  border-width: 0 !important;
}

.css-de9k3v-MuiDataGrid-selectedRowCount {
  display: none !important;
}

/* .css-6h1dhi-MuiDataGrid-root
  .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)
  > .MuiDataGrid-cell:nth-child(8)
  .MuiDataGrid-cellContent {
  background-color: rebeccapurple;
} */
